* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}
body {
   font-family: Inter;
   font-size:20px;
   width: 100%;
   background-image: url('assets/Plage.jpg');
   background-size: 100%;
   background-attachment: fixed;
   background-repeat:no-repeat;
   height: 100vh;
   position:sticky;
}
.Logo {
   width: 4%;
   opacity: 8%;
   border-radius: 40px; 
}
.h1 {
   font-style: italic;
   color: rgba(240, 255, 255, 0.297);
}     

 
/*menu*/
.menu {
   top: 0;
   left: 0; 
   opacity: 85%;
}

/*sous-menu*/
.menu > ul {
   display: flex;
   line-height: 23.54px;

}
.menu li a {
   color: white;
   padding: 20px;
   display: flex;   
}
.has-sous-nav {
   position: relative;
}
.sous-nav {
   display: none;
   font-size: 12px;
   font-weight: bold;
   position: absolute;
   top: 64px;
   left: 0;
   background-color: black;
   width:max-content;
   line-height: 23.54px ;
   opacity: 80%;
}

/*hover*/
.sous-nav li a:hover {
   background-color: rgba(89, 83, 83, 0.33);    
}
.has-sous-nav:hover .sous-nav {
   display: flex;
}

/*bouton-haut-de-page*/
.frame {
   width: 90%;
   margin: 40px auto;
   margin-left: 85%;
   margin-top: 30%;
   z-index: 20px;
   position: fixed;
}


button {
   margin: 20px;
   z-index: 20px;
   
}

.custom-btn {
   width: 130px;
   height: 40px;
   color: #fff;
   border-radius: 45%;
   padding: 10px 25px;
   font-family: 'Lato', sans-serif;
   font-weight: 500;
   background: transparent;
   cursor: pointer;
   transition: all 0.3s ease;
   position: relative;
   display: inline-block;
   box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
      7px 7px 20px 0px rgba(0, 0, 0, .1),
      4px 4px 5px 0px rgba(0, 0, 0, .1);
   outline: none;
}

.btn-2 {
   background: rgba(97, 9, 240, 0.541);
   background: linear-gradient(0deg, rgba(9, 240, 236, 0.29) 0%, rgba(5, 240, 173, 0.639) 100%);
   border: none;

}

.btn-2:before {
   height: 0%;
   width: 2px;
}

.btn-2:hover {
   box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, .5),
      -4px -4px 6px 0 rgba(116, 125, 136, .5),
      inset -4px -4px 6px 0 rgba(255, 255, 255, .2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}