.méditation {
    color: yellow;
    background-color: purple;
    font-family: Vivaldi;
    text-align: center;
    font-size: 26px;
}

.paragraphe {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    text-align: left;
}