.blabladeladame {
    text-align: left;
    font-family: Arial;
    font-size: 26px;
    text-decoration: underline;
}

.texte {
    text-align: left;
    font-size: 16px;
    font-family: 'Times New Roman';
}